/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

/* T.Prabin Patra */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    color: #fff;
    font-family: "Poppins",sans-serif;
}

li{
    list-style: none;

}

.contaiiner{
    width: 100%;
    height: 100%;
}

.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

.grow-list {
    flex-basis: 100%;
}

.list{
    display: flex;
    gap: 1.5rem;
}

.list li{
    cursor: pointer;
}

.list li:hover{
    color: rgb(255, 66, 239);
}

.line{
    height: 25px;
    width: 1px;
    background-color: #fff;
    border-radius: 100%;

}

.logo {
    width: 110px;

}

button{
    color: #fff;
    background-color: rgb(255, 66, 239);
    max-width: max-content;
    white-space: nowrap;
    padding: 10px 20px;
    border-radius: 6px;
    font-family: "Montserrat";
    border: none;
    cursor: pointer;

}

button:hover{
    opacity: 90%;
}

.hero{
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 78px);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 0.5rem;
    background: url("./assets/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 4rem;
    max-width: 60%;
    padding: 0 2rem;
}

.button-large{
    margin: 0 auto;
    font-size: 1.2rem;
}

.hero-heading{
    margin-top: 6rem;
    font-family: "Montserrat";
}

@media (max-width:1000px) {
    .navbar{
        justify-content: space-between;
    }
    .grow-list{
        display: none;
    }
    .line{
        display: none;
    }
    .hero-heading{
        font-size: 3rem;
    }
    .h1{
        max-width: 100%;
        padding: 0;
    }

    .button-large{
        font-size: 0.8rem;
    }
}