/* T.Prabin Patra */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    background-color: #fff;
    font-family: "Poppins";
}

li{
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* container */
.container{
    width: 100%;
    height: 100%;
    padding: 1rem 4rem 0;
    min-height: 100vh;
}

/* nav bar */
.navbar-container{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.grow-list{
    flex-basis: 70%;
}

.list{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.list li{
    color: #acacac;
    cursor: pointer;

}

.list li:hover
{
    color: #000;
}
img[alt="brand-logo"]{
    width: 110px;

}

.nav-button{
    background: #5955b3;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    max-width: max-content;
    cursor: pointer;
}

.nav-button:hover{
    opacity: 85%;
}

.banner-container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;


}

.banner-container div:first-child{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;

}

h1{
    font-size: 2.5rem;
    color: #3c2f60;

}

h1 span{

    color: #5955b3;
}

p{
    color: #acacac;
}

.banner-container div:last-child{

    width: 55%;
}

.banner-container div:last-child img{
    max-width: 880px;
}

@media (max-width:1000px) {
    .container{
        padding: 1rem 2rem 0;
    }
}

@media (max-width:850px){
    .grow-list{
        display: none;
    }

    .banner-container{
        flex-direction: column;
    }

    .banner-container div{
        width: 100% !important;
    }

    .banner-container div:first-child{
        text-align: center;
    }

    .banner-container div:first-child .nav-button{
        margin: 0 auto;
    }
}